h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    padding: 20px;
}

hgroup {
    text-align: center;
}

li:has(a[rel="me"][href *= "gaysex.cloud"])::marker {
    content: "fedi: ";
}

li:has(a[rel="me"][href *= "github.com"])::marker {
    content: "github: ";
}

li:has(a[rel="me"][href *= "matrix.to"])::marker {
    content: "[m]: ";
}
